<div class="back">
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name"> ADMIN PORTAL</span>
    </div>
    
    <p style="margin-left: 60px;color:white;" >Name:Nowshad Sk</p>
    <p style="margin-left: 10px;color:white;" >Email:nsd.sk@gmail.com</p><br>
    <hr style="border-top: double 2px;color: white;">

      <ul class="nav-links">
        <li>
          <a href="#" class="active" routerLink="/dashboard">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
           
          </a>
        </li>
        <hr style="border-top: dotted 1px ;color: white;">
        <li>
          <a href="#" routerLink="/view">
            <i class="fa fa-trash" ></i>
            <span class="links_name">All Employee</span>
          </a>
        </li>
        <hr style="border-top: dotted 1px ;color: white;">
        <li>
          <a href="#" routerLink="/add">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">New Employee</span>
          </a>
        </li>
        <hr style="border-top: dotted 1px ;color: white;">
        <li>
          <a href="" routerLink="/update">
            <i class='bx bx-pie-chart-alt-2' ></i>
            <span class="links_name">Edit Employee</span>
          </a>
        </li>
        <hr style="border-top: dotted 1px ;color: white;">
        <li>
          <a href="#" routerLink="/delete">
            <i class='bx bx-coin-stack' ></i>
            <span class="links_name">Remove</span>
          </a>
        </li>
        <hr style="border-top: dotted 1px ;color: white;">
        
        <li class="log_out">
          <a href="" routerLink="/login">
            <i class='bx bx-log-out'></i>
            <span class="links_name">LOG OUT</span>
          </a>
        </li>
      </ul>    
  </div>

  <div class="container"><br><br>

    <div class="out">
  
    <!-- <h1>Enter the Name and Id to be Removed</h1> -->
    <!-- <h2>Carefully enter the Id</h2><br> -->
    <form class="form" #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)">
  
      <!-- <label  class="fname" for="fname">Full Name :</label> -->
      <input class="box" type="text" id="fname" name="first_name"placeholder="Name of Employee" ngModel>
      <br><br>
      <!-- <label class="id" for="id"> Employee Id :</label> -->
      <input class="box" type="text" id="id" name="emp_id" placeholder="Employee id" required ngModel>
      <br><br><br><br>
  
  
      <input class="sub" type="submit" value="Delete">
  
  
  
    </form>
  </div>
  </div>
</div>
<router-outlet></router-outlet>
