<div class="top">

  <div class="sidebar">
      <div class="logo-details">
        <i class='bx bxl-c-plus-plus'></i>
        <span class="logo_name"> ADMIN PORTAL</span>
      </div>
      
      <p style="margin-left: 55px;color:white;" >Name:Nowshad Sk</p>
      <p style="margin-left: 55px;color:white;" >Email:nsd@gmail.com</p><br>
      <hr style="border-top: double 2px;color: white;">
  
        <ul class="nav-links">
          <li>
            <a href="#" class="active" routerLink="/dashboard">
              <i class='bx bx-grid-alt' ></i>
              <span class="links_name">Dashboard</span>
             
            </a>
          </li>
          <hr style="border-top: dotted 1px ;color: white;">
          <li>
            <a href="#" routerLink="/view">
              <i class="fa fa-trash" ></i>
              <span class="links_name">All Employee</span>
            </a>
          </li>
          <hr style="border-top: dotted 1px ;color: white;">
          <li>
            <a href="#" routerLink="/add">
              <i class='bx bx-list-ul' ></i>
              <span class="links_name">New Employee</span>
            </a>
          </li>
          <hr style="border-top: dotted 1px ;color: white;">
          <li>
            <a href="" routerLink="/update">
              <i class='bx bx-pie-chart-alt-2' ></i>
              <span class="links_name">Edit Employee</span>
            </a>
          </li>
          <hr style="border-top: dotted 1px ;color: white;">
          <li>
            <a href="#" routerLink="/delete">
              <i class='bx bx-coin-stack' ></i>
              <span class="links_name">Remove</span>
            </a>
          </li>
          <hr style="border-top: dotted 1px ;color: white;">
          
          <li class="log_out">
            <a href="" routerLink="/login">
              <i class='bx bx-log-out'></i>
              <span class="links_name">LOG OUT</span>
            </a>
          </li>
        </ul>    
    
 </div>
 </div>
 
  
  <body>
  <div class="out">
      <div class="sticky">
          <h1>NEW EMPLOYEE DETAILS</h1>
          </div>
          <!-- Create Form -->
          <form id="form"  #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)">
       
              <!-- Details -->
              <div class="form-control">
                  <!-- <label for="name" id="label-name">
                      First Name
                  </label> -->
       
                  <!-- Input Type Text -->
                  <input type="text"  name="first_name" placeholder="First Name" class="input" ngModel>
              </div>
      
              <div class="form-control">
                  <!-- <label for="name" id="label-name">
                     Middle Name
                  </label> -->
       
                  <!-- Input Type Text -->
                  <input type="text" name="middle_name" placeholder="Middle Name" ngModel/>
              </div>
      
              <div class="form-control">
                  
       
                  <!-- Input Type Text -->
                  <input type="text" name="last_name" placeholder="Last Name"ngModel />
              </div>
      
              <div class="form-control">
                  <!-- <label for="name" id="label-name">
                     Father Name
                  </label> -->
       
                  <!-- Input Type Text -->
                  <input type="text" name="father_name" placeholder="Father Name"ngModel />
              </div>
      
              <div class="form-control">
                  <!-- <label for="name" id="label-name">
                     Mother Name
                  </label> -->
       
                  <!-- Input Type Text -->
                  <input type="text" name="mother_name" placeholder="Mother Name"ngModel >
              </div>
      
              <div class="form-control">
                   <label for="name" id="label-name"> 
                      Date of Birth 
                   </label> 
       
                  <!-- Input Type date -->
                  <input type="date" name="dob"  ngModel >
              </div>
      
              <div class="form-control">
                  <!-- <label for="name" id="label-name">
                     Employee ID
                  </label> -->
       
                  <!-- Input Type Text -->
                  <input type="text" name="emp_id" placeholder="Employee Id" ngModel/>
              </div>
      
              <div class="form-control">
                  <!-- <label for="name" id="label-name">
                     Adhaar Number
                  </label> -->
       
                  <!-- Input Type Text -->
                  <input type="text" name="aadhar_no" maxlength="12" placeholder="Aadhar No. max 12 Digit"ngModel>
              </div>
        
              
        
              <div class="form-control">
                  <!-- <label for="age" id="label-age">
                      Pan Number
                  </label> -->
       
                  <!-- Input Type Text -->
                  <input type="text" name="pan_no" placeholder="Pan No. max 10 Digit" maxlength="10"ngModel>
              </div>
        
        
              <div class="form-control">
                  <label>
                      Gender:
                  </label>
       
                  <!-- Input Type Radio Button -->
                  
 <label for="recommed-1">  Male <input type="radio" name="gender" value="Male" required ngModel> </label >
  <label for="recommed-2"> Female <input type="radio" name="gender" value="Female" required ngModel> </label >
  <label for="recommed-3"> Other <input type="radio" name="gender" value="Other" required ngModel> </label >
              </div>
                  
             
      
              <div class="form-control">
                  <label>
                      Nationality:
                  </label>
       
                  <!-- Input Type Radio Button -->
                  
                  <label for="recommed-1">
                      Indian<input type="radio" name="lang" value="Indian" ngModel></label>
                 <label for="recommed-1">
                           Other<input type="radio" name="lang" value="Other" ngModel></label>
              </div>
        

              <div class="form-control">
                  <!-- <label for="age" id="label-age">
                      Pan Number
                  </label> -->
       
                  <!-- Input Type Text -->
                  <input type="text" name="phone_no" placeholder="Mob No. max 10 Digit" maxlength="10"ngModel>
              </div>


              <div class="form-control">
                  <!-- <label >
                      Address
                  </label> -->
       
                  <!-- multi-line text input control -->
                  <textarea name="address" placeholder="Address" ngModel></textarea>
              </div>
      
              <div class="form-control">
                  <!-- <label for="email" id="label-email">
                      Email
                  </label> -->
       
                  <!-- Input Type Email-->
                  <input type="email" name="email" placeholder="Email Id" ngModel>
              </div>
        
              <!-- Multi-line Text Input Control -->
              <button type="submit" value="submit">
                  Submit
              </button>
         </form>
</div>
</body>
 <router-outlet></router-outlet>