<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Document</title>

</head>
<body>

  <div class="text">

    <h2 class="title">
      <span class="title-word title-word-1">Employee</span>
      <span class="title-word title-word-2">  Management</span><br>
      <span class="title-word title-word-3">System</span>
    </h2>
  
  <div class="butclas">

    <button class="btn" type="button" onclick=" "><h3><a href="" routerLink="/login">Login Here</a> </h3></button>
    </div>
    </div>



</body>

</html>
<router-outlet></router-outlet>
