<div class="top">

  <div class="sidebar">
      <div class="logo-details">
        <i class='bx bxl-c-plus-plus'></i>
        <span class="logo_name"> ADMIN PORTAL</span>
      </div>
      
      <p style="margin-left: 55px;color:white;" >Name:Nowshad Sk</p>
      <p style="margin-left: 55px;color:white;" >Email:nsd@gmail.com</p><br>
      <hr style="border-top: double 2px;color: white;">
  
        <ul class="nav-links">
          <li>
            <a href="#" class="active" routerLink="/dashboard">
              <i class='bx bx-grid-alt' ></i>
              <span class="links_name">Dashboard</span>
             
            </a>
          </li>
          <hr style="border-top: dotted 1px ;color: white;">
          <li>
            <a href="#" routerLink="/view">
              <i class="fa fa-trash" ></i>
              <span class="links_name">All Employee</span>
            </a>
          </li>
          <hr style="border-top: dotted 1px ;color: white;">
          <li>
            <a href="#" routerLink="/add">
              <i class='bx bx-list-ul' ></i>
              <span class="links_name">New Employee</span>
            </a>
          </li>
          <hr style="border-top: dotted 1px ;color: white;">
          <li>
            <a href="" routerLink="/update">
              <i class='bx bx-pie-chart-alt-2' ></i>
              <span class="links_name">Edit Employee</span>
            </a>
          </li>
          <hr style="border-top: dotted 1px ;color: white;">
          <li>
            <a href="#" routerLink="/delete">
              <i class='bx bx-coin-stack' ></i>
              <span class="links_name">Remove</span>
            </a>
          </li>
          <hr style="border-top: dotted 1px ;color: white;">
          
          <li class="log_out">
            <a href="" routerLink="/login">
              <i class='bx bx-log-out'></i>
              <span class="links_name">LOG OUT</span>
            </a>
          </li>
        </ul>    
    </div>
   
    <div class="out">
      
          <div class="sticky">
          <h1>EMPLOYEE DETAILS UPDATE FORM</h1>
          </div>
              <form id="form"  #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)">
                  <div class="form-control">
                      <label id="label-name">
                          First Name
                      </label>
                      <input class="inp" type="text" id="name" name="first_name" placeholder="First Name" ngModel/>
                  </div>
          
                  <div class="form-control">
                      <label id="label-name">
                         Middle Name
                      </label>
                      <input class="inp" type="text" id="name" name="middle_name" placeholder="Middle Name" ngModel/>
                  </div>
          
                  <div class="form-control">
                      <label for="name" id="label-name">
                         Last Name
                      </label>
                      <input class="inp" type="text" id="name" name="last_name" placeholder="Last Name" ngModel/>
                  </div>
          
                  <div class="form-control">
                      <label for="name" id="label-name">
                         Father Name
                      </label>
                      <input class="inp" type="text" id="name" name="father_name" placeholder="Father Name" ngModel />
                  </div>
          
                  <div class="form-control">
                      <label for="name" id="label-name">
                         Mother Name
                      </label>
                      <input class="inp" type="text" id="name" name="mother_name" placeholder="Mother Name" ngModel />
                  </div>
          
                  <div class="form-control">
                      <label for="name" id="label-name">
                         Date of Birth
                      </label>
                      <input type="date" id="name" name="dob" ngModel/>
                  </div>
          
                  <div class="form-control">
                      <label for="name" id="label-name">
                         Employee ID
                      </label>
                      <input type="text" id="name" name="emp_id" placeholder="ID" ngModel/>
                  </div>
          
                  <div class="form-control">
                      <label for="name" id="label-name">
                         Adhaar Number
                      </label>
                      <input type="text" id="name" maxlength="12" name="aadhar_no" ngModel/>
                  </div> 
            
                  <div class="form-control">
                      <label for="age" id="label-age">
                          Pan Number
                      </label>
                      <input type="text" id="age" name="pan_no" ngModel maxlength="10"/>
                  </div>
            
                  <div class="form-control">
                      <label>
                          Gender:
                      </label>
                      <label>
                          <input type="radio" id="recommed-1" name="gender" value="Male" ngModel>Male
                      </label>
                      <label>
                          <input type="radio" id="recommed-2" name="gender" value="Female" ngModel>Female
                      </label>
                      <label>
                          <input type="radio" id="recommed-3" name="gender" value="Other" ngModel>Other
                      </label>
                  </div>
          
                  <div class="form-control">
                      <label>
                          Nationality:
                      </label>
                      <label>
                          <input type="radio" id="recommed-1" name="lang" value="Indian" ngModel>Indian
                      </label>
                      <label>
                          <input type="radio" id="recommed-2" name="lang" value="Other" ngModel>Other
                      </label>
                  </div>
                  
                  <div class="form-control">
                      <label for="name" id="label-name">
                         Phone Number
                      </label>
                      <input type="text" id="name" maxlength="10" name="phone_no"  ngModel>
                  </div>
            
                  <div class="form-control">
                      <label >
                          Address
                      </label>
                      <textarea name="comment" id="comment" placeholder="Address" name="address" ngModel></textarea>
                  </div>
          
                  <div class="form-control">
                      <label for="email" id="label-email">
                          Email
                      </label>
                      <input type="email" id="email" placeholder="Email" name="email" ngModel/>
                  </div>
                  
                  <button class="subbttn" type="submit" value="submit">
                      Submit
                  </button>
                  <button class="resbttn" type="reset" value="submit">
                      Reset
                  </button>
              </form>
         </div>
         </div>
         
          
          
          
             <router-outlet></router-outlet>